@font-face
{
    font-family: "Jubilee";
    src: url(Fonts/Jubilee/OTJubilee-GoldenMedium.otf) format("opentype");
}
@font-face
{
    font-family: "Jubilee";
    src: url(Fonts/Jubilee/OTJubilee-GoldenExtrabold.otf) format("opentype");
    font-weight: bold;
}
@font-face
{
    font-family: "EB Garamond";
    src: url(Fonts/EB-Garamond/EBGaramond-Regular.ttf) format("truetype");
}
@font-face
{
    font-family: "Gandhi Sans";
    src: url(Fonts/Gandhi-Sans/GandhiSans-Regular.otf) format("opentype");
}
@font-face
{
    font-family: "Gandhi Sans";
    src: url(Fonts/Gandhi-Sans/GandhiSans-Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face
{
    font-family: "Pathfinder Actions";
    src: url(Fonts/Pathfinder2eActions/Pathfinder2eActions.ttf) format("truetype");
}
@font-face
{
    font-family: "Myriad Apple";
    src: url(Fonts/Myriad-Apple-Text/MYRIADAM.TTF) format("truetype");
}

@media print, screen
{
html, body
{
    height: 100%;
    margin: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5in;
    height: 8in;
    margin: 0.25in;
    page-break-after: always;
    page-break-inside: avoid;
}
.grid
{
    display: grid;
    gap: 0;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}
.feat-card
{
    width: 2.5in;
    height: 3.5in;
    padding: 0.125in;
    border: solid black 10px;
    box-sizing: border-box;
}
.action-cost
{
    font-family: "Pathfinder Actions";
    box-sizing: border-box;
}
#feat-header
{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
#feat-header > * 
{
    min-width: 0;
    line-height: 1;
}
hr
{
    background: black;
    border: none;
    height: 2px;
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
}

@media print
{
.feat-name::placeholder
{
    color: transparent;
}
.feat-name
{
    border: none;
    font-family: "Jubilee";
    font-size: 16pt;
    background: powderblue;
    text-align: left;
}
.action-cost
{
    font-size: 30px;
    background: red;
    border: none;
    appearance: none;
    text-align: right;
    min-width: 0;
}
#feat-header
{
    grid-template-columns: 1fr auto;
}
}

@media screen
{
.action-cost
{
    font-size: 16pt;
}
#feat-header
{
    grid-template-columns: 3fr 1fr;
}
}
